<h5>タグが<%=@category.category_name%>の投稿一覧</h5>
<div class="contents row">
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweet", locals: { tweet: tweet } %>
    <div id="like_btn_<%= tweet.id %>">
      <%= render partial: "likes/like", locals: { tweet: tweet } %>
    </div>
    <div>
      カテゴリー▶︎ <%= raw(tweet.categories.map{ |cat| raw(link_to(cat.category_name, category_tweets_path(cat))) }.join(', ')) %>
    </div>
  <% end %>
  <%= paginate(@tweets) %>
</div>